
<html>
    <title>Love you</title>
    <body style="background-image:url(/static/Love.jpg)">
        <pre style="font-size:40px; font-family:Comic Sans MS; color:Red; text-align:Center;">
            For You Are The One
            For you I would climb
            The highest mountain peak
            Swim the deepest ocean
            Your love I do seek.

            For you I would cross
            The rivers most wide
            Walk the hottest desert sand
            To have you by my side.

            For you are the one
            Who makes me whole
            You've captured my heart
            And touched my soul.

            For you are the one
            That stepped out of my dreams
            Gave me new hope
            Showed me what love means.

            For you alone
            Are my reason to live
            For the compassion you show
            And the care that you give.

            You came into my life
            And made me complete
            Each time I see you
            My heart skips a beat.

            For you define beauty
            In both body and mind
            Your soft, gentle face
            More beauty I'll ne'er find.

            For you are the one
            God sent from above
            The angel I needed
            For whom I do love.
        </pre>
        Love you alot!! From KK! Good Morning :)
        Hope You like it!
    </body>
</html>
